body {

    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    width: 70%
  }  
h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 32px;
}

p {
    margin-top: 1.5px;
}

div p{
    font-style: italic;
    float: right; margin-left: 10px;
}

img {
    float: right; margin-left: 10px;
}

table, th, td {
    border: 1px solid black;
}